<?xml version="1.0" ?>
<robot name="drone_frame" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find drone_frame_description)/urdf/materials.xacro" />
<xacro:include filename="$(find drone_frame_description)/urdf/drone_frame.ros2control" />
<xacro:include filename="$(find drone_frame_description)/urdf/drone_frame.gazebo" />

<link name="base_link">
  <inertial>
    <origin xyz="5.361940941515797e-15 -0.006931498212032427 1.0942736615338362e-16" rpy="0 0 0"/>
    <mass value="0.950824254848482"/>
    <inertia ixx="0.010991" iyy="0.017094" izz="0.010991" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find drone_frame_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="black"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find drone_frame_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="controller">
  <inertial>
    <origin xyz="0.029999999999999964 0.0075 -0.08999999999999991" rpy="0 0 0"/>
    <mass value="0.471"/>
    <inertia ixx="0.000107" iyy="0.000349" izz="0.00026" ixy="-0.0" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.0 -0.04 -0.15" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find drone_frame_description)/meshes/controller_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.0 -0.04 -0.15" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find drone_frame_description)/meshes/controller_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="rigid_29" type="fixed">
  <origin xyz="0.0 0.04 0.15" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="controller"/>
</joint>

<link name="wifi">
  <inertial>
    <origin xyz="0.009999999999999766 0.008499999999999903 -0.13999999999999996" rpy="0 0 0"/>
    <mass value="0.0364905"/>
    <inertia ixx="7e-06" iyy="1.2e-05" izz="7e-06" ixy="-0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.055 -0.04 -0.2" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find drone_frame_description)/meshes/wifi_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.055 -0.04 -0.2" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find drone_frame_description)/meshes/wifi_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="rigid_30" type="fixed">
  <origin xyz="-0.055 0.04 0.2" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="wifi"/>
</joint>

<link name="camera">
  <inertial>
    <origin xyz="-3.5527136788005004e-17 -0.015 -0.01999999999999999" rpy="0 0 0"/>
    <mass value="0.03975"/>
    <inertia ixx="5e-06" iyy="1e-05" izz="1.1e-05" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.0 -0.0 -0.15" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find drone_frame_description)/meshes/camera_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.0 -0.0 -0.15" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find drone_frame_description)/meshes/camera_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="rigid_31" type="fixed">
  <origin xyz="0.0 0.0 0.15" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="camera"/>
</joint>

<link name="battery">
  <inertial>
    <origin xyz="0.0 0.032499999999999966 -0.06" rpy="0 0 0"/>
    <mass value="1.7679999999999996"/>
    <inertia ixx="0.00488" iyy="0.005201" izz="0.001565" ixy="0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.0 -0.04 -0.0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find drone_frame_description)/meshes/battery_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.0 -0.04 -0.0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find drone_frame_description)/meshes/battery_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="rigid_32" type="fixed">
  <origin xyz="0.0 0.04 0.0" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="battery"/>
</joint>

<link name="gps">
  <inertial>
    <origin xyz="-1.1191130032256469e-06 0.12931717033763007 0.08998779941606269" rpy="0 0 0"/>
    <mass value="0.2057372858290306"/>
    <inertia ixx="0.000482" iyy="5e-05" izz="0.000482" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.055 -0.04 0.2" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find drone_frame_description)/meshes/gps_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.055 -0.04 0.2" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find drone_frame_description)/meshes/gps_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="rigid_33" type="fixed">
  <origin xyz="-0.055 0.04 -0.2" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="gps"/>
</joint>

<link name="testing_probe">
  <inertial>
    <origin xyz="0.0003461717210624382 1.5355466518769678e-06 0.12087134888980863" rpy="0 0 0"/>
    <mass value="0.873048184916524"/>
    <inertia ixx="0.004501" iyy="0.004517" izz="8e-05" ixy="-0.0" iyz="0.0" ixz="8e-06"/>
  </inertial>
  <visual>
    <origin xyz="0.0 -0.02 -0.15" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find drone_frame_description)/meshes/probe_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.0 -0.02 -0.15" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find drone_frame_description)/meshes/probe_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="rigid_34" type="fixed">
  <origin xyz="0.0 0.02 0.15" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="testing_probe"/>
</joint>

<xacro:include filename="$(find drone_frame_description)/urdf/arm.xacro" />
<xacro:include filename="$(find drone_frame_description)/urdf/coaxial_holder.xacro" />
<xacro:include filename="$(find drone_frame_description)/urdf/thruster.xacro" />

</robot>
